[submodule "threadx"]
	path = threadx
	url = https://github.com/azure-rtos/threadx.git
	tag = v6.1.12_rel
[submodule "STMLIB"]
	path = STMLIB
	url = https://github.com/AiYangSky/STMLIB.git
	branch = main
